.question {
    background: #fefefe;
    border-radius: .5rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 1.4rem;

    & + .question {
        margin-top: .5rem;
    }

    p {
        color: #292929;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 1.4rem;

        .userInfo {
            display: flex;
            align-items: center;

            img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }

            span {
                margin-left: .5rem;
                color: #737380;
                font-weight: 500;
                font-size: .7rem;
            }
        }
    }
}